@import url('https://fonts.googleapis.com/css?family=Lato|Poppins&display=swap');

$primary: rgb(201, 100, 5);
$secondary: rgb(90, 0, 150);
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$grey: rgb(235, 235, 235);
$transition: all 0.3s linear;
$spacing: 4px;
$border: 4px;

:export {
  Primary: $primary;
  Secondary: $secondary;
  Black: $black;
  White: $white;
  Grey: $grey;
  Transition: $transition;
  Spacing: $spacing;
  Border: $border;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-family: 'Lato', sans-serif;
  line-height: 1.4;
  font-size: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 1.25rem;
  letter-spacing: $spacing;
}

a:hover {
  text-decoration: none !important;
  color: unset !important;
}

button, input {
  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}

ul {
  margin-bottom: 0px !important;
  li{
    list-style: none !important;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  -webkit-text-fill-color: $black;
  box-shadow: 0 0 0px 1000px $white inset;
  -webkit-box-shadow: 0 0 0px 1000px $white inset;
  transition: background-color 5000s ease-in-out 0s;
}